.tweet {
  
  transition: all 0.3s ease;
  margin: 10px;
  margin-right: 120px;
  }

  .tweet:hover {
  
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.015);
      
    }
  
  
  section.tweets-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
  }
  
 
  
  section.tweets-container .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px ;
    padding: 30px;
  }
  
  section.tweets-container .user-info img {
    border-radius: 50%;
    margin-right: 8px;
    border: 10px solid #050505;
  }
  
  section.tweets-container .user-info h3 {
    margin: 0;
    align-self: flex-start;
  }
  
  section.tweets-container .user-info p {
    margin: 0;
    color: #9c9c9c;
    margin-left: auto;
    align-self: flex-start;
    
  }
  
  
  section.tweets-container .line {
    border-top: 1px solid #ccc;
    margin: 16px 0; 
  }
  
  
  section.tweets-container .tweet-content {
    margin: 16px 0;
  }
  
  
  section.tweets-container footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif; 
    
  }
  
  section.tweets-container footer .icons i {
    margin-left: 8px;
    transition: all 0.3s ease;
  }
  
  section.tweets-container footer .icons i:hover {
    color: #ff0000; 
    
    transform: scale(1.1);

  }
  
  /*  smaller than 768px */
@media only screen and (max-width: 768px) {
  section.tweets-container .user-info {
    gap: 10px; 
    font-size: 12px;
  }
}