

body > header {
  background-color: #94bae6; 
  height: 520px;
  width: 100%;
  background-image: url("/images/argyle.png");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  padding: 20px;
}

body > header img {
  display: flex;
  max-width: 100%;
}

body > header h2 {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  color: #fff; 
  text-align: center;
}

/* tablet (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body > header {
    height: 400px; /* Adjust header height for tablets */
  }
}

/* desktop (1024px and above) */
@media only screen and (min-width: 1024px) {
  body > header {
    height: 520px;
    margin-top: 120px;
  }
}