/* styles.css */




.new-tweet {
 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100%
}



label {
  display: flex;
  display: block;
  margin-bottom: 10px;
  color: #555;
  width: 100%
}

textarea {
  display: flex;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  
}

 .line {
  border-top: 1px solid #0a0a0a;
  margin: 16px 0; /* Adjust the margin as needed */
}

.button-counter-container {
  display: flex;
  align-items: center;
  flex-direction: row
}

.button-counter-container button {
  background-color: #4056A1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Bungee', sans-serif;
}

.button-counter-container .counter {
  color: #777;
  font-family: 'Bungee', sans-serif;
  margin-left: auto;
}


.tweet .heade {
display: flex;
  align-items: center;
  flex-direction: row

}

/* Style for the tweet component */
article.tweet {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
}

/* Header styles */
article.tweet heade {
  
}



article.tweet .user-info {
  display: flex;
  flex-direction: row;
  
}

article.tweet .user-info img {
  border-radius: 50%;
  margin-right: 8px;
  
}

article.tweet heade .user-info h3 {
  margin-right: auto;
  
}

article.tweet heade p {
  margin: 0;
  color: #9c9c9c;
  margin-left: auto;
  
}

/* Horizontal line styles */
article.tweet .line {
  border-top: 1px solid #ccc;
  margin: 16px 0; /* Adjust the margin as needed */
}

/* Tweet content styles */
article.tweet .tweet-content {
  margin: 16px 0;
}

/* Footer styles */
article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif; 
  
}

article.tweet footer .icons i {
  margin-left: 8px;
  transition: box-shadow 0.3s ease; /* Adding a smooth transition effect */
}

article.tweet footer .icons i:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Add your desired box shadow properties */
}
