/* styles.css */




.new-tweet {
 
  background-color: #ecebd4;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  width: 100%
}



label {
  display: flex;
  display: block;
  margin-bottom: 10px;
  color: #555;
  width: 100%
}

textarea {
  display: flex;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  
}

 .line {
  border-top: 1px solid #0a0a0a;
  margin: 16px 0; /* Adjust the margin as needed */
}

.button-counter-container {
  display: flex;
  align-items: center;
  flex-direction: row
}

.button-counter-container button {
  background-color: #4056A1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Bungee', sans-serif;
  transition: box-shadow 0.3s ease;
}

.button-counter-container button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
  
  transform: rotate(360deg) scale(1.2);
}



.button-counter-container .counter {
  color: #777;
  font-family: 'Bungee', sans-serif;
  margin-left: auto;
}




#error-container {
  display: none;
  background-color: #ffe6e6;
  color: #cc0000;
  padding: 10px;
  border: 1px solid #cc0000;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .button-counter-container button {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }

  .button-counter-container button i {
    margin-left: 4px; /* Adjust margin for smaller screens */
  }

  .new-tweet {
 
    background-color: #ecebd4;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 100%
  }
}