/* Resize image and username fonts when changing window size and viewing on smaller screen */
@media only screen and (max-width: 768px) {
  nav span {
    font-size: 20px; 
    line-height: 80px;
  }

  div.container {
    font-size: 16px; 
  }

  
  header .pfp {
    width: 200px; 
    height: 200px;
  }

  header .pfpName {
    font-size: 18px; 
  }
}